In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from sklearn.model_selection import train_test_split

##### Reproducibility

In [3]:
np.random.seed(0)

### Dataset's

In [5]:
X_df = pd.read_csv('inputs/TRAIN.txt', sep='\t', low_memory=False).sort_values('SKU', ascending=True)
target = 'VENTA_ALTA'
X_train, X_test, Y_train, Y_test = train_test_split(X_df.drop(target, axis=1), X_df[target], test_size=0.2, random_state=42)

In [6]:
len(X_train), len(X_test), len(Y_train), len(Y_test)

(48637, 12160, 48637, 12160)

In [7]:
X_train.head()

,ORDEN,SKU,MARKETING,ACTUALIZACIONES,ACTUALIZADO,VENTAS_ACUMULADAS,PRICE,LANZAMIENTO,CANTIDAD,PRECIO_MIN,SD_PRECIO
34739,7405,287003,D,2,1,497816,49.95,2002,83,31.78,21.02
13304,2701,146431,D,12,1,1604078,148.80,2009,28,50.17,142.17
12825,64477,3479827,S,2,1,197213,49.95,2015,81,0.00,28.99
33072,71790,57111,S,3,1,24919,67.00,2006,63,19.99,37.99
2430,67536,170147,S,2,1,1291848,99.95,2011,45,4.00,36.98

In [8]:
Y_train.head()

34739    0
13304    0
12825    0
33072    0
2430     0
Name: VENTA_ALTA, dtype: int64

In [9]:
X_train['VENTA_ALTA'] = Y_train
X_test['VENTA_ALTA'] = Y_test

There was 31 items with no price, min_price and sd_price. We delete them ...

In [11]:
X_train = X_train[(X_train['PRECIO_MIN'] > .0) | (X_train['SD_PRECIO'] > .0) | (X_train['PRICE'] > .0)]
X_test = X_test[(X_test['PRECIO_MIN'] > .0) | (X_test['SD_PRECIO'] > .0) | (X_test['PRICE'] > .0)]

In [12]:
X_train.to_csv('inputs/train.csv', index=False)
X_test.to_csv('inputs/validation.csv', index=False)